@tailwind base;
@tailwind components;
@tailwind utilities;

.cotn_principal {
  text-align: center;
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
  background: #cfd8dc; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #cfd8dc 0%,
    #607d8b 100%,
    #b0bec5 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #cfd8dc 0%,
    #607d8b 100%,
    #b0bec5 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #cfd8dc 0%,
    #607d8b 100%,
    #b0bec5 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cont_centrar {
  display: flex;
  align-self: center;
  width: 100%;
}

.cont_login {
  bottom: 70px;
  margin: 0 auto;
  position: relative;
  width: 640px;
}

.cont_back_info {
  position: relative;
  float: left;
  width: 640px;
  height: 280px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_forms {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 280px;
  background-color: #eee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: -60px;
  left: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 550px;
  top: -60px;
  left: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_img_back_grey {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_grey > img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_img_back_ {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_ > img {
  height: 570px;
  width: 100%;
  opacity: 0.3;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
  top: -20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
  top: -20px;
  left: -435px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_info_log_sign_up {
  position: absolute;
  width: 640px;
  height: 280px;
  top: 0px;
  z-index: 1;
}

.col_md_login {
  position: relative;
  float: left;
  width: 50%;
}

.col_md_login > h2 {
  font-weight: 400;
  margin-top: 70px;
  color: #757575;
}

.col_md_login > p {
  font-weight: 400;
  margin-top: 15px;
  width: 80%;
  color: #37474f;
}

.btn_login {
  background-color: #26c6da;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.col_md_sign_up {
  position: relative;
  float: left;
  width: 50%;
}

.cont_ba_opcitiy > h2 {
  font-weight: 400;
  color: #fff;
}

.cont_ba_opcitiy > p {
  font-weight: 400;
  margin-top: 15px;
  color: #fff;
}
/* ----------------------------------
background text    
------------------------------------
 */
.cont_ba_opcitiy {
  height: 27vh;
  margin: 0 auto;
  position: relative;
  background-color: rgba(120, 144, 156, 0.55);
  width: 80%;
  border-radius: 3px;
  margin-top: 45px;
  padding: 15px 0px;
}

.btn_sign_up {
  background-color: #ef5350;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
.cont_forms_active_sign_up {
  z-index: 2;
}

@-webkit-keyframes animar_fondo {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}
@-o-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-moz-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.cont_form_login {
  position: absolute;
  opacity: 0;
  display: none;
  width: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  z-index: 2;
}

.cont_form_sign_up {
  position: absolute;
  width: 320px;
  float: left;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_form_sign_up > input {
  text-align: left;
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  color: #757575;
}

.cont_form_sign_up > h2 {
  margin-top: 50px;
  font-weight: 400;
  color: #757575;
}

.cont_form_login > input {
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  text-align: left;
  color: #757575;
}

.cont_form_login > h2 {
  margin-top: 110px;
  font-weight: 400;
  color: #757575;
}
.cont_form_login > a,
.cont_form_sign_up > a {
  color: #757575;
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 30px;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.section {
  min-height: 92vh;
  background-color: #cfd8dc;
  margin-top : 56px;
}

.combo-input {
  width: 200px;
  padding: 5px;
  margin: auto 10px;
}

.seat {
  position: relative;
  width: 40px;
    height: 40px;
    background-color: #898977;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    opacity: 0.5;
}

.seat:hover{
  opacity: 1;
  transition: all 0.7s;
}

.selectedSeat{
  width: 40px;
    height: 40px;
    background-color: #d80f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.reservedSeat {
  position: relative;
  width: 40px;
    height: 40px;
    background-color: #555549;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.reservedSeat::before,
.reservedSeat::after {
  content: '';
  position: absolute;
  width: 2px; /* 선의 두께 */
  height: 100%; /* 선의 길이 */
  background-color: white; /* 선의 색상 */
}

.reservedSeat::before {
  transform: rotate(45deg);
}

.reservedSeat::after {
  transform: rotate(-45deg);
}

.selectedSeat:hover {
  opacity: 1;
  transition: all 0.7s;
}

.formWrapper {
  margin: 0 auto;
  width: 50%;
}

.flightItem {
  align-items: center;
  display: flex;
  width: 50%;
  background-color:#fff;
  padding : 15px 10px;
  border : solid black 1px;
  border-radius: 10px;
  margin: 4px auto;
}

.flightItem > div {
  text-align: center;
  flex:1;
  margin: 0 auto;
}

.main_search {
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 0.375rem;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

.main_search:hover {
  transition: 0.5s;
  background-color: #053780;
}

.refund_btn {
  color: white;
  background-color: #d71616;
  border-color: #d71616;
  border-radius: 0.375rem;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

.refund_btn:hover {
  transition: 0.5s;
  background-color: #5f0303;
}

.seatPage {
  top: 20vh;
  display: grid;
  height: 60vh;
  gap: 10px;
}

.seatPage::before {
  content: '';
  display: block;
  height: 5vh;
}

.seatWrapper {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  align-items: center;
}

.btnWrapper {
  margin:0 50vh;
  text-align: center;
}

.fromToFinal{
  margin:  auto;
  width: 90vh;
  text-align: center;
  font-size: larger;
  transform: translateY(50px)
}

@media screen and (max-width: 480px) {
  .section {
    height: 95vh;
  }
  .searchWrapper {
    font-size: x-small;
  }
  .main_search {
    padding: 0.4rem 0.25rem;
    font-size: x-small;
  }
  .refund_btn {
    padding: 0.4rem 0.25rem;
    font-size: x-small;
  }
  .flightItem {
    height: 10vh;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: x-small;
  }
  .flightItem > div{
    width:20%;
  }
  .flightItem > div:nth-child(3) {
    width:10%;
  }
  .formWrapper {
    font-size: smaller;
    width: 80%;
  }
  .form_controll {
    font-size: smaller;
  }
  .seatWrapper {
    width: 100%;
    gap: 5px;
  }
  .seat {
    font-size: 12px;
    width: 40px;
  }
  .selectedSeat {
    font-size: 12px;
  }
  .reservedSeat {
    font-size: 12px;
  }
  .seatPage {
    margin: 0 auto;
    height: 35vh;
    display: block;
  }
  .btnWrapper {
    margin: auto;
  }
  .fromToFinal {
    width: auto;
    display: flex;
  }
  .combo-input {
    width: 100px;
    font-size: x-small;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  font-weight: bold;
}

.header {
  z-index: 100;
  width: 100%;
  position : fixed;
  top : 0;
}

.btn_searchCity {
  color:cornflowerblue;
}

#searchCity {
  width: 130px;
  height: 50px;
  border-radius: 7px;
  margin: 0;
  outline: none;
}

#searchDate {
  margin-left: 8px;
  margin-right: 8px;
}

.searchWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center; 
  background-color: white;
  border-radius: 8px;
  padding:0;
}

.logo {
  z-index: 0;
  position: relative;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  background:url('./file.png') center;
  height:300px;
}

.searchWrapper > div {
  font-size: larger;
  flex:1;
  text-align: center;
}

#planeIcon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.home {
  display: flex;
  justify-content: center;
  height: 92vh;
  left: 10%;
}

.search {
  position: relative;
  align-items: center;
}

#searchIcon {
  display: inline-block;
}

.airLine {
  font-weight: 180;
}

.flexTime {
  display: flex;
  align-items: center;
  text-align: center;
}

.noneItem {
  display: none;
}

.flightItemWrapper {
  height: 100%;
  background-color: #cfd8dc;
}

#xprice {
  text-decoration: line-through;
  margin-right: 10px;
}

.seatPageWrapper {
  margin: 0 auto;
}

.price {
  text-align: center;
}

.arrow {
  display: inline-block;
  width: 76px;
  height: 8px;
  background: url('https://flights.myrealtrip.com/air/imgs_ibe/mrt/ico/main/ico_fromto_line.png') no-repeat center;
  font-size: 0px;
  background-size: 76px;
  margin: auto 10px;
}

span {
  width:auto;
}

.login_btn {
  position: absolute;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  color:black;
}

.btn_pay {
  margin: 0 auto;
  float:right;
}

.tmpselectedSeat {
  width: 40px;
    height: 40px;
    background-color: #3f7ac7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.viewWrapper {
  margin: 0 auto;
  width: auto;
}

.btn_lastPage {
  width: 100%;
  margin: 0 auto;
}

.finalRes_h3 {
  text-align: center;
}

.passengers {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #85d2f0;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.passengersWrapper {
  margin-top: 20vh;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.combo-container {
  position: relative;
  display: inline-block;
}

.combo-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1;
}
.combo-dropdown div {
  padding: 5px;
  cursor: pointer;
}
.combo-dropdown div:hover {
  background-color: #ddd;
}

.selectFindBy {
  display: flex;
  justify-content: center;
}

.selectedFind-active {
  position: relative;
  padding: 8px 10px;
  margin: 10px 5px;
  background-color:#b0bec5;
  cursor: pointer;
  border-radius: 10px;
}

.selectedFind {
  position: relative;
  padding: 8px 10px;
  margin: 10px 5px;
  background-color:#b0bec5;
  cursor: pointer;
  border-radius: 10px;
}

.selectFindBy .selectedFind-active::after {
    content: "";
    display: inline-block;
    clear: both;
    border: 8px solid transparent;
    border-top-color: #3f5b6b;
    position:absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.findByText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailMiddle {
  background-color: #cfd8dc;
  padding: 8px;
}

.makesureRes {
  text-align: center;
}

.searchEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.findFlight {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.infoWrapper{
  margin:0 auto;
  width: 60%;
}

.m2{
  margin-top:20px;
}

.accumulate{
  width: 50px;
      height: 50px;
      padding: 10px;
      color: white;
      background-color: rgb(154, 162, 247);
      transition-property: width, opacity, content;
      transition-duration: 1s;
}

.accumulate:hover {
  content: "1829";
  width:250px;
}

.today{
  width: 50px;
      height: 50px;
      padding: 10px;
      color: white;
      background-color: rgb(154, 162, 247);
      transition-property: width, opacity, content;
      transition-duration: 1s;
}

.today:hover {
  width:160px;
}

.acc_view {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.accumulate:hover .acc_view {
  opacity: 1;
}

.today:hover .acc_view {
  opacity: 1;
}

.inline{
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.inline>:first-child {
  width: 100px;
}

.inline *{
  margin-right: 10px;
}

